/************************************************************************************
FONDOS
*************************************************************************************/
body {
    font: 1em/150% Arial, Helvetica, sans-serif;
    background-image: url("./img/indexfondo.png");
    background-size: auto;
}
#introduccion {
    background-image: url("./img/introduccionfondo.png");
    font: 1em/150% Arial, Helvetica, sans-serif;
    background-size: auto;
}
#about{
    font: 1em/150% Arial, Helvetica, sans-serif;
    background-image: url("./img/aboutfondo.png");
    background-size: auto;
}
#masdesalvi{
    font: 1em/150% Arial, Helvetica, sans-serif;
    background-image: url("./img/masdesalvifondo.png");
    background-size: auto;
}
#contacto{
    font: 1em/150% Arial, Helvetica, sans-serif;
    background-image: url("./img/contactofondo.png");
    background-size: auto;
}
#encuesta{
    font: 1em/150% Arial, Helvetica, sans-serif;
    background-image: url("./img/encuestafondo.png");
    background-size: auto;
}
#sidebar a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#content p{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    texto-decoration: underline;
}
h1 {
    font: bold 36px/100% Arial, Helvetica, sans-serif;
}

/************************************************************************************
ESTRUCTURA
*************************************************************************************/
#pagewrap {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
    background-color: rgba(10, 10, 10, 0.3);*/
}
#header {
    height: 180px;
    background-image: url("./img/header.png");
    background-size: cover;
}
#content {
    width: 600px;
    float: left;
    padding-top: 12px;
}

#content .publicacion {
	padding: 0px 5px 0px 5px;
}

#content .publicacion h2{
    font-family: 'Oswald', sans-serif;
    display: inline;
    padding: 0px 0px 0px 0px;
}

#content .flechatras {
    height: 20px;
    width: 20px;
}

#content .publicacion a{
    color: black;
}

#content .publicacion a:hover{
    color: orange;
}

#content .publicacion #final a{
    color: orange;
}

#sidebar {
    width: 300px;
    float: right;
    padding: 0px 0px 0px 5px;
}
#footer {
    clear: both;
    background-color: #d7752582;
    padding: 10px 0px 5px 5px;
    font-size: 13px;
    line-height: 43px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* para 980px o menos */
@media screen and (max-width: 980px) {
    
    #pagewrap {
        width: 94%;
    }
    #content {
        width: 68%;
    }
    #sidebar {
        width: 30%;
    }
    #button li a {
        display: none;
    }

}

/* para 700px o menos */
@media screen and (max-width: 700px) {

    #content {
        width: auto;
        float: none;
    }
    #sidebar {
        width: auto;
        float: none;
    }
    
    #button li a {
        display: none;
    }

}

/* para 480px o menos */
@media screen and (max-width: 480px) {

    #header {
        height: auto;
    }
    h1 {
        font-size: 24px;
    }
    #sidebar {
        display: none;
    }
    #button li a {
        display: none;
    }

}

/* borde & guideline (puedes ignorarlo) */
#content {
    background-color: rgba(244, 67, 54, 0.73);
}
#sidebar {
    background-color: rgba(244, 67, 54, 0.73);
}
#header, #content, #sidebar {
    margin-bottom: 5px;
}
#pagewrap, #header, #content, #sidebar, #footer {
    border: solid 1px #ccc;
}


 img.imgpubli , iframe {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 5px solid rgba(255, 177, 0, 0.22);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

#sidebar li {
    list-style-type: circle;
    margin-top: 10px; 
}

#sidebar a:hover {
    color: gray;
    transition: 0.5s;
}

/*Menu Horizontal*/
#button {
    margin-top: 137px;
	padding: 0;
}

#button li {
	display: inline;
}

#button li a {
	font-family: Arial;
	font-size:11px;
	text-decoration: none;
	float:left;
	padding: 10px;
	background-color: #6b15cb;
	color: #fff;
}

#button li a:hover {
	background-color: #724e1c;
	margin-top:-2px;
	padding-bottom:12px;
}

/*Importar fuentes*/
@font-face {
    font-family: socialmedia;
    src: url(./fonts/socialmediabueno.otf);
}

/*BOTONES*/
.twitter {
    float: right;
    margin-right: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:13px;
	-moz-border-radius-topleft:13px;
	border-top-left-radius:13px;
	-webkit-border-top-right-radius:13px;
	-moz-border-radius-topright:13px;
	border-top-right-radius:13px;
	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
text-indent:0px;
	border:1px solid #e65f44;
	display:inline-block;
	color:dodgerblue;
	font-family:socialmedia;
	font-size:45px;
	font-weight:normal;
	font-style:normal;
height:40px;
	line-height:40px;
width:39px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
}.twitter:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}.twitter:active {
	position:relative;
	top:1px;
}

div.datos{
	margin: 0 auto;
	width: 90%;
    font: bold 14px/100%, 'Open Sans', sans-serif;
    word-wrap: break-word;
}

.capaform {
    padding: 0px 4px 0px 0px;
}

.tabla {
	border-collapse: collapse;
	color: #fff;
	margin: 0 auto;
	width: 80%;
}

.tabla, .tabla th, .tabla td {
	border: 2px solid #444;
    font: bold 14px/100% 'Open Sans', sans-serif;
   
    
}


.tabla th{
	font: bold 18px/100% Oswald, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 15px 0;
}

.tabla td {
	text-align: left;
	padding: 13px 12px;
}

.tabla td.datos{
    background-color: #9fe7d7;;
	color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tablaform {
	margin: 0 auto;
	width: 96%;
    overflow: hidden;
}
table.tabla{
	background-color: #a97a54a6;
}

div.boton input[type="submit"]{
    background-color: rgba(10, 10, 10, 0.3);
    color: #fff;
    font-family: oswald;
    font-size: 1.6em;
    letter-spacing: 0.3em;
    margin: 0px 0px 0px 20%;
    padding: 5px 0;
    width: 56%;
}

/*ESTILO GALERIA DE IMAGENES*/
#gallery {display: none;}
#jgal {padding:0;margin:0;list-style: none; width: 500px;}
#jgal li { opacity: .5;filter:alpha(opacity=50); float: left; display: block; width: 60px; height: 60px; background-position: 50% 50%; cursor: pointer; border: 3px solid #fff; outline: 1px solid #ddd; margin-right: 10px; margin-bottom: 10px; }
#jgal li img { position: absolute; top: 90px; left: 7px; display: none; }
#jgal li.active img { display: block; width:500px; }
#jgal li.active, #jgal li:hover { outline-color: #bbb; opacity: .99;filter:alpha(opacity=99);}
/*FIN ESTILO GALERIA DE IMAGENES*/

.publicaciongaleria{
    margin-bottom: 615px;
}

.tabla td.datos:hover{
	margin: 0 auto;
	width: 90%;
    font: bold 50px/100%, 'Open Sans', sans-serif;
    color: #ff9800;
    background-color: beige;
}

.pregunta {
    background-color: #28a6ce;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.encapregunta {
    background-color: #d5ac31;
}

#content .publicacion .linkpubli:hover {
    color: greenyellow;
}

#content .publicacion .linkpubli {
    color: #50feff;
    text-decoration: none;
}

/*TABLA DE CONTACTO*/
table.redTable {
  border: 2px solid #A40808;
  background-color: #EEE7DB;
  width: 100%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 7px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #F5C8BF;
}
table.redTable tfoot td {
  font-size: 13px;
}
/*FIN TABLA DE CONTACTO*/
